:root {
  --light-green-color: rgb(0, 150, 60);
  --green-color: rgb(0, 109, 44);
  --black-color: #0a0a0b;
  --red-color: #f30f26;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat;
}

.navbar-container {
  background-color: var(--green-color);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 30px;
}
.logo {
  font-weight: 1000;
  font-size: 32px;
}
.redLogo {
  color: var(--red-color);
}

.bg {
  background-image: url("images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: clamp(200px, 70vw, 800px);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -2px;
  line-height: clamp(1.5rem, 0.85rem + 3.4615vw, 3.95rem);
}

.bg-text a {
  text-decoration: none;
  color: rgb(225, 225, 225);
}

.bg-text {
  font-size: clamp(1.5625rem, 0.9135rem + 3.4615vw, 4.375rem);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 20px;
  margin-right: 30%;
  cursor: pointer;
  transition: all 0.1s ease;
  box-shadow: 5px 5px 10px 2px black;
}
.bg-text:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}

.click {
  position: absolute;
  margin-top: clamp(35px, 6vw, 55px);
  color: rgb(255, 255, 255);
}

.budget-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.budget-expenses {
  display: flex;
}

img {
  width: 200px;
  height: 200px;
  margin: auto;
  padding: 20px;
}

.expense,
.budget {
  margin-top: 50px;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 300px;
  padding: 20px 50px;
  gap: 10px;
}

#setCurrency {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.droplistCurrency {
  background-color: var(--black-color);
  width: 30vw;
  display: flex;
  padding: 15px;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  gap: 15px;
  color: white;
  cursor: pointer;
}

.droplist {
  background-color: rgb(56, 56, 56);
  color: white;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.date,
.description {
  background-color: rgb(56, 56, 56);
  color: white;
  padding: 7px;
  border-radius: 3px;
  outline: none;
  border: none;
}

.expense-list {
  background-color: rgb(56, 56, 56);
  color: white;
  list-style-type: none;
  border-radius: 3px;
  position: absolute;
  margin-top: 20px;
  width: 182px;
  cursor: pointer;
  transition: all 0.2s ease;
  transform: scale(0);
}

.expense-list.open {
  margin-top: 90px;
  transform: scale(1);
}
.currency-list {
  background-color: rgb(56, 56, 56);
  color: white;
  list-style-type: none;
  border-radius: 3px;
  position: absolute;
  margin-top: 50px;
  font-size: 20px;
  width: 30vw;
  cursor: pointer;
  transform: scale(0);
  transition: all 0.2s ease-in-out;
}

.currency-list.open {
  margin-top: 170px;
  transform: scale(1);
}

.dropdown-icon,
.dropdown-currency-icon {
  transition: all 0.2s ease;
}
.dropdown-icon.open,
.dropdown-currency-icon.open {
  transform: rotate(180deg);
  transition: all 0.2s ease;
}

li {
  padding: 2px;
}
li:hover {
  background-color: rgb(20, 20, 20);
}

h2 {
  margin-bottom: 20px;
}
.set-button {
  padding: 10px;
  background-color: var(--green-color);
  margin-top: 5px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}
.set-button:hover{
  background-color: var(--light-green-color)
}

.set-budget-button {
  margin-top: 60px;
}

.input {
  padding: 7px;
  font-size: 16px;
  outline: none;
  border: 0;
  border-radius: 3px;
  background-color: rgb(201, 201, 201);
}

.total-budget {
  margin:50px 0;
  border-radius: 5px;
  padding: 10px;
}

.budget-bar {
  width: 770px;
}

.budget-bar th {
  background-color: var(--black-color);
}
.budget-bar td {
  background-color: rgb(225, 225, 225);
  font-size: 20px;
}

.expense-history {
  display: flex;
  justify-content: space-between;
  width: 770px;
}

.table-data {
  max-height: 300px;
  overflow: scroll;
  background-color: rgb(240, 240, 240);
}

th {
  background-color: var(--green-color);
  color: white;
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 200px;
}
td {
  font-size: 16px;
  height: 50px;
  padding: 10px;
  width:200px;
}

tbody:nth-child(odd) {
  background-color: rgb(225, 225, 225);
}

.resetBtn {
  margin: 50px auto;
  background-color: rgba(255, 0, 0, 0.5);
  padding: 15px;
  cursor: pointer;
  width: 50vw;
  font-size: clamp(1rem, 0.9423rem + 0.3077vw, 1.25rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.resetBtn:hover {
  background-color: rgba(255, 0, 0, 0.6);
}

.footer {
  width: 100vw;
  height: 50px;
  background-color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: rgb(199, 199, 199);
  font-size: 15px;
}
.github-footer a {
  color: white;
}

.github-footer a:hover {
  color: var(--green-color);
}

/* alerts for user */
.set-budget-button.open,
.set-expense-button.open {
  background-color: var(--red-color);
  animation: alert 0.1s ease-in-out;
}

@keyframes alert {
  0% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

@media (max-width: 800px) {
  .budget-expenses {
    gap: 50px;
  }
  .budget-bar {
    width: 620px;
  }

  .expense-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 620px;
  }

  .droplistCurrency {
    width: 280px;
  }
  .currency-list {
    width: 280px;
  }

  img {
    display: none;
  }
}

@media (max-width: 650px) {
  .budget-expenses {
    flex-direction: column;
    gap: 0;
  }

  img {
    display: flex;
  }

  .expense {
    margin-top: 0;
  }

  .budget-bar {
    width: 280px;
  }

  .expense-history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 280px;
  }

  th {
    background-color: var(--green-color);
    color: white;
    font-size: 12px;
    padding: 5px;
    height: 40px;
    width: 0;
  }
  td {
    font-size: 12px;  
    height: 40px;
    padding: 4px;
    width: 0px;
  }
}
